/* Optional custom styles for better spacing */
.col-item {
    padding: 8px; /* Add some padding to the columns */
    border: 1px solid #ddd; /* Optional: Add a border for visual separation */
    margin-bottom: 5px;  /* Add small bottom margin between rows on small screens*/
}

.header-row {
    font-weight: bold;
    background-color: #f0f0f0; /* Optional: style for header row */
}

.btn-marie-blue {
    background-color: #6d8eec
; /* A darker orange color */
    border-color: #6d8eec;
    color: white;
}

.btn-marie-purple {
    background-color: #b77fd6
; /* A darker orange color */
    border-color: #b77fd6;
    color: white;
}

.btn-marie-orange {
    background-color: #ffa31d
; /* A darker orange color */
    border-color: #ffa31d;
    color: white;
}

.btn-marie-red {
    background-color: #eb5b5b;
    border-color: #eb5b5b;
    color: white;
}

.btn-marie-blue:hover {
    background-color: #526be8
; /* A darker orange color */
    border-color: #526be8;
    color: white;
}

.btn-marie-purple:hover {
    background-color: #964ebf
; /* A darker orange color */
    border-color: #964ebf;
    color: white;
}

.btn-marie-orange:hover {
    background-color: #f28800;
    border-color: #f28800;
    color: white;
}

.btn-marie-red:hover {
    background-color: #d33737
; /* A darker orange color */
    border-color: #d33737;
    color: white;
}


    